In [3]:
!pip install pandas -i https://pypi.douban.com/simple

Looking in indexes: https://pypi.douban.com/simple
Collecting pandas
  Downloading https://pypi.doubanio.com/packages/79/87/8bb36bd4ebae147612c73d1bdc1385db7beebb9eb141c4bfefb33f52c87c/pandas-1.1.5-cp36-cp36m-win_amd64.whl (8.7 MB)
Collecting pytz>=2017.2
  Downloading https://pypi.doubanio.com/packages/60/2e/dec1cc18c51b8df33c7c4d0a321b084cf38e1733b98f9d15018880fb4970/pytz-2022.1-py2.py3-none-any.whl (503 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\deeplearning\envs\gluon\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in d:\deeplearning\envs\gluon\lib\site-packages (from pandas) (1.16.6)
Requirement already satisfied: six>=1.5 in d:\deeplearning\envs\gluon\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.1.5 pytz-2022.1

In [7]:
import d2lzh as d2l
from mxnet import autograd, gluon, init, nd
from mxnet.gluon import data as gdata,loss as gloss, nn
import numpy as np
import pandas as pd

In [10]:
train_data = pd.read_csv('./data/house-prices-advanced-regression-techniques/train.csv')
test_data = pd.read_csv('./data/house-prices-advanced-regression-techniques/test.csv')

In [11]:
train_data.shape

(1460, 81)

In [12]:
test_data.shape

(1459, 80)

In [13]:
train_data.iloc[0:4,[0,1,2,3,-3,-2,-1]]

   Id  MSSubClass MSZoning  LotFrontage SaleType SaleCondition  SalePrice
0   1          60       RL         65.0       WD        Normal     208500
1   2          20       RL         80.0       WD        Normal     181500
2   3          60       RL         68.0       WD        Normal     223500
3   4          70       RL         60.0       WD       Abnorml     140000

In [14]:
all_features = pd.concat((train_data.iloc[:,1:-1],test_data.iloc[:,1:]))